/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.red-hat-display-<uniquifier> {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Red Hat Display", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    padding: 48px 0 54px;
}

/* CONSTRAINT CSS-s */
.wrapper {
    padding: 0 24px;
}

.pad-bot {
    padding-bottom: 64px;
}

.flex {
    text-align: center;
}

/* works but not responsive */
.hero-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 165px;
    margin-bottom: 48px;
}

.hero-image img {
    position: absolute;
    left: -25px;
    right: -25px;
    width: calc(100% + 50px);
    height: auto;
}

/* main title designs */

.main-title h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 44px;
    color: #28283D;
    padding-bottom: 24px;
}

.style-p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    color: #87879D;
    padding-bottom: 32px;
}


/* LINE WITH SHAPE */

.line-shape .line {
    width: 1px;
    height: 84px;
    background-color: #87879D;
    margin: 0 auto;
}

.line-shape .round {
    width: 56px;
    height: 56px;
    border: 1px solid #87879D;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
}

.line-shape .number-in-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
}



/* buttons design */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.buttons button {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 26px;
    color: white;
    border-radius: 50px;
    border: none;
}

#green span {
    color: #8FE3F9;
}

#green {
    width: 193px;
    height: 58px;
    background-color: #4D96A9;
}

#purple {
    width: 139px;
    height: 58px;
    background-color: #855FB1;
}

/* image container */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 25px;
}

.grid-container img {
    max-width: 100%;
    border-radius: 5px;
}

/* modern use */
.green-h3 {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    color: #4D96A9;
}

.title-h2 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 36px;
    padding: 24px 0 32px;
}

/* FOOTER */

.footer-bg {
    background-image: url('materials/mobile/image-footer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bg-color {
    background-color: rgba(77, 150, 169, 89.55%);
    
}

.footer {
    position: relative;
    padding-top: 144px;
}

.footer .title-h2 {
    padding-top: 64px;
}

.line-absolute {
    position: absolute;
    top: 31px;
    left: 0;
    width: 100%;
}

/* MOBILE DONE */

/* Tablet starts 768PX */

@media(min-width: 768px) {

    /* image */
    .hero-image {
        min-height: 358px;
    }

    /* main title tablet */
    .main-title {
        padding: 72px 156px 80px 155px;
    }

    .main-title h1 {
        font-size: 4.8rem;
        line-height: 48px;
    }

    /* buttons design  */

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    /* Image container */


    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 39px 48px 40px;
    }
    
    /* MODERN USE */
    
    .title-h2 {
        font-size: 4.0rem;
        line-height: 44px;
        text-align: center;
        padding: 24px 0 32px;
    } 

    /* Footer */
    .title-h2 {
        font-size: 4rem;
        line-height: 44px;
        text-align: center;
        padding: 0 120px 32px;
    }

    .style-p {
        padding: 0 97px 40px 98px;
    }
}


/* PC 1440 px */

@media(min-width: 1440px) { 
    .hero-image img {
        display: none;
    }

    .main-title {
        padding: 0;
    }

    .buttons.pad-bot {
        padding: 0;
    }

    .header-hero-image {
        background-image: url('materials/desktop/image-hero-left.png'), url('materials/desktop/image-hero-right.png');
        background-repeat: no-repeat;
        background-position: left, right;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    
    .main-title.wrapper.flex {
        padding: 108px 88px 117px; 
    }

    .main-title h1 {
        font-size: 6.4rem;
        line-height: 64px;
    }

    .main-title p {
        font-size: 1.8rem;
        line-height: 26px;
    }

    /* Image */

    .grid-container.wrapper.pad-bot {
        padding: 0 165px 80px;
        gap: 30px;
    }

    /* Modern use */

    .wrapper.pad-bot.flex {
        padding: 0 450px;
    }

    .green-h3 {
        font-family: Red Hat Display;
        font-size: 1.6rem;
        line-height: 26px;
        letter-spacing: 4px;
        padding-bottom: 16px;
    }

    .title-h2 {
        font-size: 4rem;
        line-height: 44px;
        text-align: center;
        padding: 0 0 32px;
    }

    .style-p {
        font-size: 1.8rem;
        line-height: 26px;
        padding: 0 0 72px;
    }

    /* footer */

    .footer-bg {
        background-image: url("materials/desktop/image-footer.jpg");
        background-size: cover;
        background-position: top;
        height: 308px;
    }
    
    .bg-color {
        height: 100%;
    }
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: baseline;
    }
}
