* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    background-color: lightgray;
}

label {
    font-size: 1.8rem;
    color: #333;
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
}

#text {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    border-radius: 15px;
}

#button {
    padding: 10px 20px;
    font-size: 1.6rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#button:hover {
    background-color: #45a049;
}

#images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

img {
    width: auto; 
    height: 200px; 
    border-radius: 5px;
}